[submodule "dependencies/cocoa-websocket"]
	path = dependencies/cocoa-websocket
	url = git://github.com/erichocean/cocoa-websocket.git
[submodule "dependencies/json-framework"]
	path = dependencies/json-framework
	url = git://github.com/stig/json-framework.git
